nav {
  height: 60px;
  padding-bottom: 3px;
  font-size: 1rem;
  transition: 0.3s;
}

nav ul {
  height: 60px;
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s;
}

nav ul li {
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0s;
}
nav ul li:hover {
  color: #030422;
  background-color: white;
}

.admin-button {
  height: 43px;
  padding: 10px 30px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 7px;
}

.mobile-nav-btn {
  height: 60px;
  position: absolute;
  top: 0;
  display: none;
  font-family: inherit;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #030422;
  cursor: pointer;
}
.mobile-nav-btn:focus {
  outline: none;
}

@media (max-width: 767px) {
  nav {
    height: 450px;
  }
  nav ul {
    height: 450px;
    padding: 60px 0px 20px 0px;
    flex-direction: column;
  }
  .mobile-nav-btn {
    display: block;
  }
  .hide-mobile-nav {
    height: 60px;
  }
  .hide-mobile-nav-ul li {
    opacity: 0;
  }
}
