.Pagination {
  height: 80px;
  width: 72%;
  font-size: 1rem;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  background-color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
}

.Pagination li {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 5px;
  padding: 0px 1px 1px 0px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-number,
.page-arrow {
  cursor: pointer;
}

.active {
  color: white;
  background-color: #55acee;
}

@media (max-width: 1279px) {
  .Pagination {
    width: 92%;
  }
}
@media (max-width: 767px) {
  .Pagination {
    justify-content: center;
  }
}
